
.ControlsContainer {
  position: absolute;
  left: 79%;
  top: 46%;
  width: 21%;
  overflow: hidden;
}


.ControlsContainerHidden {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 80%;
  top: 40%;
  width: 20%;
}

.MotivationWordsHidden {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 70%;
  top: 40%;
  width: 20%;
}
.MotivationWords{
  position: absolute;
  top: 38%;
  left: 70%;
  font-size: 180%;
  text-align: center;
}
.ControlsContainerSpan {
  position: absolute;
  top: 37%;
  left: 72%;
  font-size: 180%;
  text-align: center;
}
.ControlsContainerSpanHidden {
  position: absolute;
  top: 37%;
  left: 72%;
  font-size: 180%;
  text-align: center;
  opacity: 0;
  pointer-events: none;
}
.Lockpick{
  cursor: pointer;
}