.iconSuccess{
   background-color: rgb(9, 199, 34);
   font-size: 24px;
    border: 5px solid rgb(9, 199, 34);
    border-radius: 50%;
}

.iconUnSuccess{
    background-color: rgb(235, 106, 106);
    font-size: 24px;
    border: 5px solid rgb(235, 106, 106);
    border-radius: 50%;
}

.icon {
    font-size: 24px;
    background-color: rgb(232, 247, 232);
    border: 5px solid rgb(232, 247, 232);
    border-radius: 50%;
}